main {

  margin: auto;
  width: 55%;

}

body {}

header {

  display: flex;
  gap: 450px;

}

.hypertexte {

  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;

}

.texteImage {

  display: flex;
  width: 100%;

}

.logoSquedrong {}


.titreImage {

  width: 55%;

}

.image1 {

  display: flex;
  height: 300px;
  margin-left: 80px;

}

.logo {

  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  margin-bottom: 15%;

}

.logo a {

  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-align: start;
  align-items: center;
  padding: 10px;
  padding-left: 50px;
  gap: 60px;
  font-size: x-small;

}

#logoTwitter {

  margin-right: 15px;

}

#logoLinkedin {

  margin-right: 15px;

}



.blog {

  color: rgb(79, 0, 128);

}



.hypertexte a {

  text-decoration: none;
  color: grey;
  opacity: 75%;

}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: xx-large;
  font-weight: 100;
  color: rgb(205, 90, 109);

}


h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: xx-large;
  font-weight: 600;
}


#logoTwitter {

  background-color: rgb(38, 183, 240);

}

#logoLinkedin {

  background-color: rgb(54, 105, 191);

}

#logoMedium {

  background-color: black;


}

.imglogo {

  display: flex;
  height: 25px;

}

.boitephoto {

  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
  font-family: 'Montserrat', sans-serif;
  font-size: small;

}

.boitephoto img {

  height: 300px;

}

.photo1 p {

  width: 400px;

}

.photo2 p {

  width: 400px;

}

h3 {

  color: rgb(205, 90, 109);

}

.boitephoto a {

  color: rgb(205, 90, 109);
}

.p2 {
  font-size: small;
  font-family: 'Montserrat', sans-serif;
  color: rgb(99, 99, 99);

}

.p1 {
  color: rgb(99, 99, 99);
}

.date {

  font-size: smaller;
  font-weight: 700;

}