/* body {
    padding: 0 20%;
} */

main {
  margin: auto;
  width: 60%;
}


header {
  display: flex;
  justify-content: space-between;
}

.titreImage {
width: 50%;
}

.texteImage {
  display: flex;
  width: 100%;
  gap: 5%;
}

.image1 {
  display: flex;
  height:300px;
}

/* 
.p1 {
  display: flex;
}   */

.blog {
  color: rgb(79, 0, 128);
}

.hypertexte{
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: grey;
  opacity: 75%;
}

h1 {
  color: rgb(205, 90, 109);
}

.logo {
 
}

.logoTwitter {
  background-color: #1DA1F2;
}

.logoLinkedin {
  background-color: #007BB5;
}

.logoMedium {
  background-color :black;
}

span {
  color: white; 
}