html {
  font-family: 'Montserrat', sans-serif;
}

main {
  margin: auto;
  width: 60%;
}

.paragraph p {
  font-size: 20px;
}

h1,
h2,
h3 {
  font-family: 'Abril Fatface', cursive;
}

.navbar {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.navbar a {
  text-decoration: none;
}

.hypertext {
  min-width: 300px;
  display: flex;
  justify-content: space-between;
}

.illustration {
  display: flex;
  justify-content: center;
}

.author {
  width: 50%;
  display: flex;
  gap: 100px;
}
.logomark {
  width: 100%;
  display: flex;
  gap: 50px;
  margin-top: 50px;
}

.logomark a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  color: white;
}

.twitter {
  background-color: rgb(0, 170, 255);
  display: flex;
  justify-content: center;
}

.linkedin {
  background-color: rgb(0, 106, 255);
}

.medium {
  background-color: black;
}

.logomark img {
  height: 30px;
  width: 30px;
}

.image img {
  height: 260px;
}

.auteur {
  color: rgb(246, 122, 143);
  font-size: 30px;
}

.h2 {
  color: rgb(30, 30, 169);
  font-size: 30px;
}

.aproposauthor p {
  font-size: 20px;
}
